h1 {
    text-align: center;
    color: yellow;
}
.test{
    text-decoration-skip: yellow;
    
}
.imagem{
    text-align:center
}
.paragrafo{
    text-align: center;
    color:yellow
}
.card{
    color: yellow;
}
