h1 {
    text-align: center;
    color: yellow;
}
.test{
    text-align: center;
    text-decoration-skip: yellow;
    
}
.imagem{
    text-align:center;

}
.paragrafo{
    margin-right: 1000px;
    color:yellow;
}
.card{
    color: yellow;
}
.dica{
    color: yellow;
    
}
